.customPaginationContainer {
  width: 100%;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.54);
}
.customPaginationRowsPrPage {
  display: flex;
  margin-left: auto;
  align-items: center;
  color: rgba(0, 0, 0, 0.54);
}
.selectPagination{
    background-color: transparent       ;
}
.selectOptionPagination{

}
.customPaginationPara{
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;

}